# Exclude giovanni
giovanni

trab2
src/*.txt
*.txt

# build n archive artifacts
build/
*.o
*.a

# Diretório de entradas
entradas/

# Saida do valgrind gerada por meio do Makefile
valgrind-out.txt
/.vs

app.py
